<?xml version="1.0"?>
<launch>
  <arg name="yolact_weights" default="$(find depth_yolact_ros)/weights/yolact_resnet50_54_800000.pth" />
  <arg name="image_topic" default="/drone1/camera/color/image_raw" />
  <arg name="depth_topic" default="/drone1/camera/depth/image_raw" />
  <arg name="camera_info_topic" default="/drone1/camera/depth/camera_info" />

  <arg name="use_compressed_image" default="False" />
  <arg name="use_compressed_depth" default="False" />
  <arg name="publish_visualization" default="True" />
  <arg name="publish_detections" default="True" />
  <arg name="publish_pointcloud" default="True" />
  <arg name="publish_bboxes" default="True" />
  <arg name="score_threshold" default="0.25" />		
  <arg name="use_kmeans" default="True" />
  <arg name="initial_centroid" default="7" />
  <arg name="use_bboxes_world_frame" default="True" />
  <arg name="world_frame" default="map" />		
  <arg name="use_gaussian" default="True" />
  <arg name="std_multiplier" value="2.0" />				

  
<node pkg="depth_yolact_ros" type="depth_yolact_ros" name="depth_yolact_ros" output="screen">
	<param name="model_path" value="$(arg yolact_weights)" />
	<param name="image_topic" value="$(arg image_topic)" />
	<param name="depth_topic" value="$(arg depth_topic)" />
	<param name="camera_info_topic" value="$(arg camera_info_topic)" />
	<param name="use_compressed_image" value="$(arg use_compressed_image)" />
	<param name="use_compressed_depth" value="$(arg use_compressed_depth)" />
	<param name="publish_visualization" value="$(arg publish_visualization)" />
	<param name="publish_detections" value="$(arg publish_detections)" />
	<param name="publish_pointcloud" value="$(arg publish_pointcloud)" />
	<param name="publish_bboxes" value="$(arg publish_bboxes)" />
	<param name="score_threshold" value="$(arg score_threshold)" />		
	<param name="use_kmeans" value="$(arg use_kmeans)" />
	<param name="initial_centroid" value="$(arg initial_centroid)" />
	<param name="use_bboxes_world_frame" value="$(arg use_bboxes_world_frame)" />
	<param name="world_frame" value="$(arg world_frame)" />		
	<param name="use_gaussian" value="$(arg use_gaussian)" />
	<param name="std_multiplier" value="$(arg std_multiplier)" />				
</node>


</launch>
